In [1]:
import requests
import pandas as pd
from io import StringIO

In [2]:
url = r'http://www.twse.com.tw/exchangeReport/STOCK_DAY_ALL?response=open_data'
res =  requests.get(url)
res_df = pd.read_csv(StringIO(res.text))
res_df.head()

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0050,元大台灣50,16612226.0,2.167982e+09,128.35,132.30,128.00,132.30,5.80,13448.0
1,0051,元大中型100,208528.0,1.022286e+07,47.60,49.72,47.60,49.72,2.87,137.0
2,0052,富邦科技,1253358.0,1.480971e+08,116.10,119.50,115.45,119.50,5.90,761.0
3,0053,元大電子,35024.0,2.189088e+06,61.85,63.35,61.85,62.90,2.90,59.0
4,0054,元大台商50,10696.0,3.100500e+05,28.45,29.40,28.45,29.40,1.29,47.0